:root {
  --mainColor: #4e5a57;
  --secondColor: #070907;
  --thirdColor: #dde5d6;
  --fourthColor: #eae4ca;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--fourthColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
hr {
  border-top: 1px solid #07090754;
}
h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 4rem;
}
.button-style {
  background-color: var(--mainColor) !important;
  color: var(--thirdColor) !important;
  border-color: var(--mainColor) !important;
}
.button-style:hover {
  background-color: #313635 !important;
  border-color: #4e5a57 !important;
}
textarea:focus,
select:focus,
input[type="email"]:focus {
  border: 1px solid var(--mainColor);
}

header.container {
  text-align: center;
  padding: 1rem;
}
header h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 7rem;
  font-weight: bold;
}
.menu {
  font-size: 1.3rem;
  font-weight: bold;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  gap: 1rem;
}
.menu li {
  margin-bottom: 0;
  padding: 0.2rem 0.5rem;
  transition: background 0.2s;
}
.menu a {
  text-decoration: none;
  color: var(--secondColor);
  text-transform: uppercase;
  transition: color 0.2s;
}
.menu li:hover {
  background-color: var(--secondColor);
}
.menu li:hover a {
  color: var(--fourthColor);
}

header .social-bar {
  display: none;
}
.social-bar a {
  color: var(--secondColor);
}
footer .social-bar a {
  color: var(--thirdColor);
}
.featured .columns,
.featured .column {
  margin-left: 0;
}
.featured {
  background-color: var(--secondColor);
  color: var(--thirdColor);
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.featured__image {
  position: relative;
  display: flex;
}
.featured__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(234, 228, 202);
  background: linear-gradient(
    0deg,
    rgb(7, 9, 7, 1) 0%,
    rgb(7, 9, 7, 0.1) 50%,
    rgb(7, 9, 7, 0) 90%
  );
}
.featured__content {
  padding: 2% 2% 0 2%;
  text-align: center;
}

.blog__item {
  margin-bottom: 3.5rem;
}
.blog__image {
  margin-bottom: 0.5rem;
}

.contact__image {
  display: none;
}
footer {
  padding-top: 2rem;
  background-color: var(--secondColor);
  color: var(--thirdColor);
  text-align: center;
}
footer .social-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}
footer h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
section {
  margin-bottom: 5rem !important;
}
.galeria__item {
  padding: 15px 15px 30px;
  background-color: white;
  border-radius: 1%;
  margin-bottom: 2rem;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  h4 {
    font-size: 2.6rem;
  }
  .featured .one-half.column {
    width: 100%;
  }
  header .social-bar {
    display: flex;
    gap: 1rem;
  }
  .menu {
    font-size: unset;
  }
  .contact .eight.columns {
    width: 100%;
  }
  .blog .four.columns {
    width: 100%;
  }
  .blog .eight.columns {
    width: 100%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  header .social-bar {
    gap: 1.5rem;
  }
  .featured .one-half.column {
    width: 48%;
  }
  .featured__image::after {
    background: linear-gradient(
      270deg,
      rgb(7, 9, 7, 1) 0%,
      rgb(7, 9, 7, 0.1) 50%,
      rgb(7, 9, 7, 0) 90%
    );
  }
  .featured__content {
    text-align: left;
  }
  .blog .four.columns {
    width: 30.6666666667%;
  }
  .contact .eight.columns,
  .blog .eight.columns {
    width: 65.3333333333%;
  }
  .contact__image {
    display: flex;
  }
}
